.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 3px 40px 0px 40px;
    background-color: rgba(0, 0, 0, 0.4) ;
    color: white;  
    font-size: xx-large;  
    text-decoration: none;  
  }
  
  .nav-bar a {
      color: white; /* Cambio para el color de los enlaces */
      text-decoration: none; /* Cambio para eliminar el subrayado de los enlaces */
  }
   