<div class="hero-section">
  <section class="leftsection">
    <article style="color: rgb(75, 207, 185); font-size: xx-large; flex-direction: column;">
      <div>Pon rumbo a tu</div> <div>próxima aventura </div>
    </article>
    <article style="color: hsl(19, 67%, 47%); font-size: x-large; font-weight: bolder; margin-top: 10px;">HASTA 25% DTO.</article>
    <article style="color: black; font-size: large; flex-direction: column; margin-top: 10px; font-weight:500;">
      <div>Adelántate y reserva tus</div><div>vacaciones 2024</div>
    </article>
    <button class="hoverbutton" style="  background-blend-mode: darken; color: black; font-size:medium; background-color: white; border-radius: 10px; border-color: transparent; 
    font-weight:700; padding: 5px 18px 5px 18px; margin-top: 30px; justify-content: left;  text-align: left; align-items: left; width: 180px;">
      RESERVA AHORA</button>
  </section>
  <section class="centerbar">
    <div class="leftsidesearchbar " >
      <div style=" font-size:  large; font-weight: lighter; margin: 1px 0px 1px 0px;">Hotel - Destino</div>
      <div style=" font-size:  large; font-weight: lighter; margin: 1px 0px 1px 0px;">05 ene - 06 ene</div>
      <div class="personas" style=" font-size:  large; font-weight: lighter; margin: 1px 0px 1px 0px;">
        <p >Personas</p>
        <p><strong>2</strong></p>
      </div>
      <button class="promobutton hoverbutton" style=" background-blend-mode: darken;">Inserta tu promo code</button>
    </div>
    <div class="rightsidesearchbar hoverbutton" style=" background-blend-mode: darken;">
      <strong>RESERVA AHORA</strong>
    </div>
  </section>
</div>