.hero-section{
  text-align: center;
  background-image: url('/assets/hero-background.jpg');
  background-size: cover;
  padding-left: 2rem;
  padding-right: 2rem;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 10%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,0.4) 90%), url('/assets/hero-background.jpg');
  height: 100vh;
}
 
.leftsection{
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-top: 18%;
  padding-left: 5%;
  font-weight: bold;
}

.leftsection article{
 justify-content: left;
 text-align: left;
align-items: left;
 } 
 
.personas{
  display: flex;
  flex-direction: row;
 }
 .personas p{
  margin: 2px;
  }
.centerbar {
  display: flex;
  justify-content: center;
  border-radius: 5px;
   margin-top: 10%;
} 
.leftsidesearchbar{
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 5px;
  border-top-left-radius: 10px; /* Redondea la esquina superior izquierda */
  border-bottom-left-radius: 10px; /* Redondea la esquina inferior izquierda */
}
.leftsidesearchbar div{
  padding: 10px 20px 10px 20px
}

.promobutton{
  padding: 0  20px 0 20px;
  border-radius: 20px;
  border-color: rgb(75, 207, 185);
  background-color: transparent;
  font-size: x-small;
  margin: 8px 0px 8px 0px;
 }

 .rightsidesearchbar {
  display: flex;  
  align-items: center;  
  justify-content: center; 
  background-color: rgb(75, 207, 185);
  border-top-right-radius: 10px;  
  border-bottom-right-radius: 10px;  
  padding: 10px 20px 10px 20px
}
