.hero-section {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 10%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,0.4) 90%), url('/assets/hero-background.jpg');
  background-size: cover;
  height: 100vh;
}

a.hero-section {
  text-align: center;
  background-image: url('/assets/hero-background.jpg');
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.flex-column,
.flex-row {
  display: flex;
}

.flex-column {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  flex-direction: row;
  justify-content: space-between;
}

article {
  font-weight: bold;
  /* todos los articles en negrita */
}

button {
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 0.5em 1em;
}

.search-container {
  display: flex;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.bg-white {
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.bg-lightblue {
  background-color: lightblue;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: black;
  font-weight: bold;
}