<div class="hero-section">
  <section class="flex-column">
    <article style="color: lightblue; font-size: large;">Pon rumbo a tu próxima aventura</article>
    <article style="color: darkorange; font-size: medium;">HASTA 25% DTO.</article>
    <article style="color: black; font-size: small;">Adelántate y reserva tus vacaciones 2024</article>
    <button>RESERVAR AHORA</button>
  </section>
  <section class="flex-row">
    <div class="search-container bg-white">
      <div>Hotel - Destino</div>
      <div>05 ene - 06 ene</div>
      <div class="flex-row">
        <p>Personas</p>
        <p><strong>2</strong></p>
      </div>
      <button>Inserta tu promo code</button>
    </div>
    <div class="search-container bg-lightblue">
      <strong>RESERVAR AHORA</strong>
    </div>
  </section>
</div>