<div class="promo-section" style="display: flex; flex-direction: column; align-items:left; text-align: left; 
 padding-left: 30%;">
  <p style="font-size: x-large;">Confiar en nosotros <span style="font-weight:600;">son ventajas únicas</span></p>
  <div class="row" style="margin: 0.2% 0 0.5% 0;">
    <img src="https://cdn2.paraty.es/ona-corporativa/images/d9d8a9f104b24df" height="45" width="45">
    <div class="col">
      <p style="margin: 0px 50px 0px 20px;">PAGO A PLAZOS</p>
      <p style="margin: 0px 50px 0px 20px;">¡Financiamos tus vacaciones!</p>
    </div>
    <div class="row">
      <img src="https://cdn2.paraty.es/ona-corporativa/images/9c0a42fb9a34093" height="45" width="45">
      <div class="col">
        <p style="margin: 0px 50px 0px 20px;">FLEXIBILIDAD</p>
        <p style="margin: 0px 50px 0px 20px;">En tu reserva</p>
      </div>
    </div>
    <div class="row">
      <img src="https://cdn2.paraty.es/ona-corporativa/images/e05b31a3be5e0a1" height="45" width="45">
      <div class="col">
        <p style="margin: 0px 50px 0px 20px;">OFERTAS</p>
        <p style="margin: 0px 50px 0px 20px;">Exclusivas</p>
      </div>
    </div>
  </div>
  <div class="row" style="align-items: center;">
    <a href="#" style="color:black" style="margin: 20px 0px 0px 0px; text-decoration: none;">Más VENTAJAS</a>
    <button style="background-color: rgb(75, 207, 185); border-radius: 100%; color: white; 
    margin:20px 10px 0px 10px; border-color: transparent; font-size: small; font-weight: 500;">></button>
  </div>
</div>